@use "@/styles/index";

.list_container {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 4px;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: visible;
}
