$extra-dark-blue: #313565;
$dark-blue: #454096;
$light-blue: #8c8cfe;
$bg-color: #c2cbda;
$gradient: linear-gradient(to right, #454096, #5550a4);
$light-gradient: linear-gradient(to right bottom, #7D7DD349, #9D9DDA49);
$index: calc((1vh + 1vw) / 38.16)
