@import 'consts';
@import 'normalize';
@import 'mixins';

body {
  height: 100vh;
  scroll-behavior: smooth;
  background-color: $bg-color;
  text-rendering: optimizeSpeed;
}

::selection {
  background-color: $light-blue;
  color: $bg-color;
}
