@import 'consts';

@mixin border-mixin($border-position: "all", $border-radius: 12px) {
  border: 1.5px solid $dark-blue;

  @if $border-position == "all" {
    border-radius: $border-radius;
  }

  @if $border-position == 'right' {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}