@use "@/styles/index";

.item_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  font-size: 13px;
  border: none;
  border-radius: 12px;
  background-image: index.$light-gradient;
  transition: all .5s ease;

  &.is_completed {
    opacity: .7;
  }

  .card_text_container {
    text-align: start;
    margin-left: 32px;

    .card_title {
      padding: 0 5px;
      color: index.$bg-color;
      font-weight: 610;
      font-size: 20px;
      hyphens: auto;
      white-space: normal;
      word-wrap: break-word;
      overflow-wrap: break-word;
      border-radius: 8px;
      background-color: rgba(0, 0, 108, 0.2);
    }

    .card_info {
      font-size: 13px;
      margin-top: 10px;
    }
  }
}